@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    background-color: #F7F8FA;
}

.sidebar-container {
    transform: scale(0.8);
  }
  .header-container {
    transform: scale(1.0); 
  }
  
  